.header-navigation {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    background: black;
    opacity: 50%;
    position: fixed;
    height: 70px;
    transition: .5s;
    width: 100%;
}

.slideUp {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    transition: transform .5s ease-out;
}

/*导航菜单向下滑动*/
.slideDown {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: transform 0.5s ease-out;
}

.nav-item{
    font-family: ReneBieder
}

.a{
    color: rgba(0,0,0,0.6);
    opacity: 0.1s;
    text-decoration: none;
}